---
name: Prebuilt Devcontainer

on:
  schedule:
    - cron: "0 3 * * *" # Runs at 03:00 UTC every day
  workflow_dispatch:
    inputs: #checkov:skip=CKV_GHA_7
      tag:
        description: "Tag to build (default: latest)"
        required: false
        default: "latest"

      cache:
        description: "Use cache when building the image"
        required: false
        default: true
        type: boolean

env:
  REGISTRY: ghcr.io
  BASE_IMAGE_NAME: ${{ github.repository }}-prebuilt-devcontainer-base:latest
  IMAGE_NAME: ${{ github.repository }}-prebuilt-devcontainer

permissions:
  contents: read
  packages: read

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 180
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up tag
        run: |
          # if it's a scheduled run, use 'latest' as the tag.
          # if it's a manual run, use the provided tag.

          if [ "${{ github.event_name }}" = "schedule" ]; then
            TAG="latest"
          else
            TAG="${{ github.event.inputs.tag }}"
          fi

          echo "Setting tag to" "${TAG}"

          # shellcheck disable=SC2086
          echo "TAG=${TAG}" >> $GITHUB_ENV

      # Install the cosign tool except on PR
      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad #v4.0.0
        with:
          cosign-release: "v2.2.4"

      # Set up BuildKit Docker container builder to be able to build
      # multi-platform images and export cache
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Lowercase images
        run: |
          # shellcheck disable=SC2086
          echo "BASE_DEVCONTAINER_IMAGE_LOWERCASE=$(echo '${{ env.REGISTRY }}/${{ env.BASE_IMAGE_NAME }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

          # shellcheck disable=SC2086
          echo "DEVCONTAINER_IMAGE_LOWERCASE=$(echo '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Cache settings
        run: |
          # shellcheck disable=SC2086
          if [ "${{ github.event.inputs.cache }}" = "true" ]; then
            echo "CACHE_FROM=type=gha" >> $GITHUB_ENV
          else

            # if false or it is a scheduled run, don't use cache
            echo "CACHE_FROM=" >> $GITHUB_ENV
          fi

      # Build and push Docker image with Buildx
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: .github/docker/devcontainer.Dockerfile
          push: true
          tags: ${{ env.DEVCONTAINER_IMAGE_LOWERCASE }}:${{ env.TAG }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: ${{ env.CACHE_FROM }}
          cache-to: type=gha,mode=max
          build-args: BASE_DEVCONTAINER_IMAGE=${{ env.BASE_DEVCONTAINER_IMAGE_LOWERCASE }}
          platforms: linux/amd64,linux/arm64

      # Sign the resulting Docker image digest except on PRs.
      # This will only write to the public Rekor transparency log when the Docker
      # repository is public to avoid leaking data.  If you would like to publish
      # transparency data even for private images, pass --force to cosign below.
      # https://github.com/sigstore/cosign
      - name: Sign the published Docker image
        env:
          # https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-an-intermediate-environment-variable
          TAGS: ${{ steps.meta.outputs.tags }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        # This step uses the identity token to provision an ephemeral certificate
        # against the sigstore community Fulcio instance.
        run: |
          # shellcheck disable=SC2060,SC2086
          echo "${TAGS}" | xargs -I {} cosign sign --yes {}@${DIGEST}
